@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.typewriter-h1 {
    background-color: rgba(0, 216, 214, 0.6);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-family: 'Inconsolata', monospace;
    color: #000000;
    border-right: 3px solid transparent;
    width: 9ch;
    white-space: nowrap;
    overflow: hidden;
    animation: letter-by-letter 3.5s steps(9), character-indicator .2s 18 reverse;
    font-size: 50px;
}

.typewriter-h2 {
    background-color: rgba(255, 230, 2, 0.6);
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-family: 'Inconsolata', monospace;
    color: #000000;
    border-right: 3px solid transparent;
    width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    animation: letter-by-letter2 7s steps(14), character-indicator .2s 18 reverse 3.5s;
    font-size: 30px;
}


/* Amimations */
@keyframes letter-by-letter {
    0%{
        width:0;
    }
}

@keyframes letter-by-letter2 {
    0%{
        width:0;
        background-color: transparent;
    }
    54%{
        background-color: transparent;
    }
    55%{
        width:0;
        background-color: rgba(255, 230, 2, 0.6);
    }
    56%{
        /* background-color: #ffe602; */
    }
}

@keyframes character-indicator {
    0%{
        border-color: transparent;
    }
    50%{
        border-color: black;
    }
    100%{
        border-color: transparent;
    }
}